
.metilda-content-explore-select-options{
  display: flex;
}


.metilda-explore-select-sound {
  display: flex;
}

.metilda-explore-select-sound-elements{
  margin: 8px;
  width: 40%;
}

.metilda-explore-review {
  display: flex;
}

.metilda-explore-results {
  height: 150px;
  border: 2px solid black;
}

.metilda-explore-playerbar {
  display: flex;
  width: 40%;
}

.m-t-16 {
  margin-top: 16px;
}
.m-b-16 {
  margin-bottom: 16px;
}