#imageTitle {
  text-align: center;
  font-size:50px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.noImagesMessage{
  width:750px;
  margin: auto;
}

.ImagesForMyFiles {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color:  #f2f2f2;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index:1;
  top: 70px;
  bottom: 0px;
}
.imageTransition {
  width: 100%;
  left: 0;
  overflow:auto;
  height: 90vh
}

.BackButton{
  position:absolute;
  top:40px;
  left:40px
}

.imageContainer {
  display: flex;
  padding-left: 40px;
  flex-flow:row wrap;
}

.image {
  flex:0 1 calc(25% - 8px);
  flex-basis: 20%;
  margin:20px;
}
.image img{
  width:100%
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}