#myFilesTitle {
  text-align: center;
  font-size:50px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#myFiles {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin-left:auto; 
  margin-right:auto;
}

#myFiles td, #myFiles th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#myFiles tr:nth-child(even){background-color: #f2f2f2;}

#myFiles tr:hover {background-color: #ddd;}

#myFiles th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

#sizeParagraph {
  color: black;
}

.myFilesButtonContainer{
  padding:10px;
  margin:10px;
  display: flex;
  justify-content: space-around;
}

.myFilesButtonContainer > div{
  padding:10px;
  margin:10px;
}

.hide {
  display: none;
}

.myFilesContainer {
  position: relative;
  width: 100%;
}

.DeleteFile, .GetImages, .OpenFolder, .MoveToFolder {
  pointer-events: auto;
}

#noAudioFilesMessage {
  font-size: 36px;
}

.AddSubfolder {
  position: absolute;
  right: 40px;
  top: 120px;
}

.DeleteFolder {
  position: absolute;
  right: 40px;
  top: 120px;
}

.FolderBackButton{
  position:absolute;
  top:120px;
  left:40px
}