.group-label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -16px;
}

.top-label {
    margin-bottom: 8px;
    display: flex;
}

.metilda-control-header {
    display: flex;
    margin-left: 12px;
    margin-bottom: 16px;
}

.hide {
    display: none;
}

.metilda-page-content {
    width: 1016px;
}

.metilda-page-header {
    margin-bottom: 30px;
}

.metilda-page-header h5 {
    position: relative;
    margin-left: 24px;
    text-align: left;
}

.metilda-pitch-art-container-control-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.metilda-pitch-art-container-control-list-item {
    margin-bottom: 24px;
    text-align: left;
}