.group-label {
    display: flex;
    justify-content: flex-start;
    margin-bottom: -16px;
}

.top-label {
    margin-bottom: 8px;
    display: flex;
}

.metilda-control-header {
    display: flex;
    margin-left: 12px;
    margin-bottom: 16px;
}

.hide {
    display: none;
}

.metilda-audio-analysis-layout {
    width: 1016px;
}