.metilda-audio-analysis-form {
    margin-left: 16px;
}

.metilda-audio-analysis {
    margin-left: 16px;
    width: 800px;
    display: flex;
}

.metilda-audio-analysis-image {
    border: 1px solid black;
    width: 100%;
}

.metilda-transcribe-container {
    display: flex;
    align-items: center;
}

.metilda-transcribe-container-col {
    border: 1px solid black;
    height: 52px;
    margin-top: 16px;
    margin-bottom: 64px;
}

.metilda-transcribe-letter-container-label {
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#metilda-transcribe-letter-container {
    width: 77.5%;
}

.metilda-transcribe-letter {
    position: absolute;
    background: lightblue;
}