.metilda-audio-analysis-form {
    margin-left: 16px;
}

.metilda-audio-analysis {
    margin-left: 16px;
    width: 800px;
}

.metilda-audio-analysis-image-container {
    margin-bottom: 32px;
}

.metilda-audio-analysis-image {
    border: 1px solid black;
    width: 100%;
}

.metilda-audio-analysis-input {
    text-align: left;
}

.metilda-checkbox-label {
    margin-right: 16px;
}

.metilda-transcribe-container {
    display: flex;
    align-items: center;
}

.metilda-transcribe-container-col {
    border: 1px solid black;
    height: 52px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.metilda-transcribe-letter-container-label {
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
}

#metilda-transcribe-letter-container {
    width: 77.5%;
}

.metilda-transcribe-letter-container-end {
    width: 10%;
    background: lightgray;
}

.metilda-transcribe-letter {
    position: absolute;
    background: lightblue;
    outline: 1px solid black;
}

.metilda-audio-analysis-image-loading {
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.metilda-audio-analysis-image-loading .preloader-wrapper.big {
    width: 160px;
    height: 160px;
}