.wizard-header {
    margin-bottom: 30px;
}

.wizard-header h5 {
    position: relative;
    margin-left: 24px;
    text-align: left;
}

.wizard-form {
    margin-left: 16px;
}

.gender-selection {
    text-align: left;
}

/**
 * Override materializecss styling.
 */
.dropdown-content {
    max-height: 500px;
}