#analysisTitle {
  text-align: center;
  font-size:50px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#analysisTable {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin-left:auto; 
  margin-right:auto;
}

#analysisTable td, #analysisTable th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#analysisTable tr:nth-child(even){background-color: #f2f2f2;}

#analysisTable tr:hover {background-color: #ddd;}

#analysisTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}

.AnalysisForImage {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color:  #f2f2f2;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index:1;
  top: 32px;
  bottom: 0px;
}
.transition {
  width: 100%;
  left: 0;
  overflow:auto;
  height:150vh
}
.BackButton{
  position:absolute;
  top:40px;
  left:40px
}