.demo-container {
  text-align: center;
  position: relative;
  overflow: hidden;

  // 1:1.91 Video Aspect Ratio
  padding-top: 52.35%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.demo-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}