.demo-container {
  text-align: center;
  position: relative;
  overflow: hidden;

  // 1:1.91 Video Aspect Ratio
  padding-top: 52.35%;

}

.demo-vid {
  position: absolute;
  top: 0;
  right:25%;
  width: 50%;
  height: 50%;
  border: 0;
}