.Acknowledgements {
  color: brown;
  position: fixed;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.Acknowledgements h6 {
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: brown;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
p {
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 0px 20px;
  color: brown;
}
