/* ===== Container ===== */
.home {
  background: #fffaf3; 
  border: 1px solid #e0c9a6;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #5c4033;
}

.user-guide {
  margin: 20px 0px;
}
/* ===== Headings ===== */
.home h1 {
  text-align: center;
  color: #5c4033;
  font-size: 2rem;
  margin-top: 0;
}

.user-guide h3 {
  text-align: left;
  color: #7a5230;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 10px;
}

/* ===== Paragraphs ===== */
.home p {
  line-height: 1.6;
  letter-spacing: 0.5px;
  margin-bottom: 16px;
  color: #5c4033;
}

.home .para {
  text-align: left;
  margin-left: 25px;
}

.user-guide .para {
  margin-left: 25px;
}

/* ===== Lists ===== */
.home .list,
.home .subList {
  text-align: left;
  margin-left: 20px;
  padding-left: 5px;
}

.home p > ul {
  list-style-position: inside;
  margin-left: 20px;
}

.home .list li {
  margin: 6px 0;
  line-height: 1.5;
  position: relative;
  padding-left: 0px;
}

.home .list li::before {
  position: absolute;
  left: 0;
  color: #a36a3f; 
  font-weight: bold;
}

.home .subList li {
  position: relative;
  padding-left: 20px;
  margin: 4px 0;
}

.home .subList li::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border: 1.8px solid #a36a3f;
  border-radius: 50%;
  background-color: transparent;
}

/* ===== Section Styling ===== */
.home hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to right, #d3b792, #5c4033, #d3b792);
  margin: 25px 0;
}

.home b {
  color: brown;
}

/* ===== Acknowledgements Section ===== */
.home .Acknowledgements {
  color: #5c4033;
  text-align: left;
  margin-top: 30px;
}

.home .Acknowledgements h6 {
  text-decoration: underline;
  color: #7a5230;
  margin-bottom: 10px;
}
