.signin__Form,
.signup__Form {
  float: left;
  width: 48%;
  border: 2px solid maroon;
  border-radius: 8px;
  margin: 10px;
  border-style: solid;
  background-color: #f2f2f2;
  padding: 15px;
  .roles_Options,.language_Options {
    width: 60%;
    padding-bottom:3px;
  }
}

.signup_Submit,
.signin_Submit {
  width: 100%;
  background-color: #ee6e73;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup_Submit:hover,
.signin_Submit:hover {
  background-color: #e0363c;
}

.login_Page {
  margin: 5px;
  h3 {
    color: rgb(185, 54, 54);
    font-size: 25pt;
  }
}

.password_Forget_Link,.mandatory_message {
  color: maroon;
}

.terms_of_use {
  float: left;
  padding-top: 10px;
  color:grey
}
 ::placeholder{
  color:grey
}