.main-layout{
    display: flex;
}

.main-view{
    display: flex;
    // margin-left: 10px;
    width: 100%;
}


.sidebar{
    background-color: #ee6e73;
    width: 200px;
    flex-shrink: 0;
}

.sidebar-item{
    display: block;
    width: 200px;
    justify-content: center;
    margin: 10px 0px;
    background-color: #ee6e73;
}

.float-right{
    position: absolute;
    right: 10px;
    float: right;
    width: auto;
    text-align: left;
}

.download-link{
    color: rgb(111, 111, 255);
    cursor: pointer;
}

.public-DraftStyleDefault-ltr{
    text-align: unset !important;
}

.react-file-reader{
    display: inline;
    width: min-content;
}

.react-file-reader-button{
    display: inline;
    width: min-content;
}

.centered{
    width: 100%;
}


.assignment{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(87, 173, 174);
}

.block{
    border: solid;
    border-width: 1px;
    border-color: rgb(87, 173, 174);
}

.grades-grade_list-name_col{
    text-align: center;
    width: 300px;
}

.grades-grade_list-grade_col{
    text-align: center;
    width: 50px;
}

td{
    text-align: center;
}

a{
    color: black;
}

.content-link{
    color: black;
    text-decoration: underline;
}

.draggable-item{
    margin: 10px;
    border-style: solid;
}

.lesson-block p{
    text-align: unset;
    letter-spacing: unset;
    font-family: unset;
    padding: unset;
    color: unset;
    margin: unset;
}

.unstyle p{
    text-align: unset;
    letter-spacing: unset;
    font-family: unset;
    padding: unset;
    color: unset;
}


.file-drop {
    /* relatively position the container bc the contents are absolute */
    position: relative;
    height: 100px;
    width: 100%;
  }
  
  .file-drop > .file-drop-target {
    /* basic styles */
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 200px;
    border-radius: 2px;
  
    /* horizontally and vertically center all content */
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
  
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
  
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  
    align-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
  
    text-align: center;

    background-color: rgb(240, 240, 240);
  }
  
  .file-drop > .file-drop-target.file-drop-dragging-over-frame {
    /* overlay a black mask when dragging over the frame */
    border: none;
    background-color: rgb(240, 240, 240);
    box-shadow: none;
    z-index: 50;
    opacity: 1;
  
    /* typography */
    color: white;
  }
  
  .file-drop > .file-drop-target.file-drop-dragging-over-target {
    /* turn stuff orange when we are dragging over the target */
    // color: #40ff59;
    // box-shadow: 0 0 13px 3px #40ff59;
    background-color: rgb(200, 200, 200);
  }

  .lesson-video{
    width: 80%;
  }

  .pitch-art-block-create-view{
    display: flex;
  }


.title{
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
}

.list-item-title{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

.course-list{
    background-color: rgb(220, 255, 255);
    width: 60%;
    margin: auto;
}

.info-list{
    text-align: left;
    gap: 50px 20px;
    width: 100%;
    background-color: rgb(220, 255, 255);
}

.list-item{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    margin-bottom: 2px;
    width: 100%;
}


.lesson-block{
    background-color: rgb(255, 255, 220);
}

.blocks{
    background-color: rgb(255, 255, 220);
}

.pagination{
    text-align: center;
}

img.rdw-link-decorator-icon {
    display: none;
}

.lesson-word-card{
    width: 350px;
    margin-right: 10px;
}

.height-column{
    height: calc(100vh - 70px);
    width: 10px;
    flex-shrink: 0;
}