#syllable-selection {
    display: flex;
}

.inline-btns-label {
    white-space: nowrap;
    margin-right: 16px;
}

.inline-btns {
    display: flex;
    justify-content: flex-start;
}

.inline-btns p {
    margin-right: 16px;
}

.pitch-art-img-list {
    display: flex;
}

.pitch-art-img-list-item {
    height: 250px;
    margin-left: -6px;
    margin-right: 24px;
    cursor: pointer;
}

.syllable-selection-row {
    margin-bottom: 0;
}