.h3 {
  color: brown;
  margin-bottom: 20px;
}

.b {
  text-align: center;
  width: 50%;
}

.p {
  text-align: left;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 0px 20px;
  color: brown;
}

.p-intro {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: brown;
}

.b {
  margin: 0 auto;
  color: brown;
  font-size: 20px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.feedback-input[type="radio"] {
  margin-right: 5px;
  background-color: #ffffff;
  color: #f25e68;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-textarea {
  width: 50%;
  height: 100px;
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
  align-items: center;
}

.button[type="submit"] {
  background-color: #f25e68;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button {
  background-color: #f25e68;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.nav-content {
  margin-top: 20px;
}

.rating-container {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.rating-inputs {
  display: flex;
  //border: solid 1px #000000;
  //margin-top: 5px;
}

.rating-input.active {
  background-color: #c1474d;
  color: #ffffff;
}

.rating-input input {
  display: none;
}

.rating-label {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.rating-statements {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.progressbar {
  height: 20px;
  width: 90%;
  overflow: hidden;
  border-radius: 5px;
  background-color: lightgrey;
  margin: 0 auto;
}

.progressbar-inner {
  height: 100%;
  width: 80%;
  border-radius: 5px;
  background-color: #f25e68;
  transition: width 0.3s;
  display: flex;
  justify-content: center;
}



//.rating-circle {
//  width: 20px;
//  height: 20px;
//  border-radius: 50%;
//  background-color: #ffffff;
//  border: 2px solid #f25e68;
//  cursor: pointer;
//  border: solid 1px #5e2ca5;
//}

//.rating-circle.active {
//  background-color: #f25e68;
//}


