.menu-icon-top-right {
  margin-left: 30px;
  margin-top: -10px;
}

.menu-icon-top {
  margin-top: -20px;
}

.menu-icon-top-left {
  margin-right: 30px;
  margin-top: -10px;
}

.menu-icon-bottom-left {
  margin-right: 60px;
  margin-top: 30px;
}

.menu-icon-bottom {
  margin-bottom: -15px;
}

.menu-icon-bottom-right {
  margin-left: 60px;
  margin-top: 30px;
}

.avg-ellipsis {
  margin-bottom: -10px;
  margin-top: -30px;
}

.AudioAnalysis-speaker {
  max-width: 380px;
}

.AudioAnalysis-speaker .metilda-audio-analysis-controls-list {
  height: 250px;
}
.complete-zoomout{
  margin-top: 10px;
}

.audio-analysis-container {
  display: flex;
  width: 100%;
}

.audio-sidebar {
  width: 340px;
  height: fit-content;
  padding: 10px;
  position: relative;
  transition: width 0.3s ease;
  margin: 5px 5px;
}

.audio-sidebar.collapsed {
  width: 50px;
  padding: 0;
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.audio-main {
  flex-grow: 1;
  padding: 20px;
  // overflow: auto;
  align-items: center;
  justify-content: center;
}

.sidebar-container {
  width: 300px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .sidebar-container {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    transform: translateX(-100%); // hidden by default on small screens
  }

  .sidebar-container.open {
    transform: translateX(0); // shown when toggled open
  }
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2000;
  background: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}
