.CreatePitchArt {
  margin-top: 16px;
}

.metilda-audio-analysis-form {
  margin-left: 16px;
}

// .metilda-audio-analysis-layout {
//     width: 1016px;
// }

.metilda-audio-analysis-controls-list {
}

.metilda-audio-analysis-controls-list-item {
  margin-bottom: 16px;
}

.metilda-audio-analysis {
}

.metilda-audio-analysis-image-container {
  margin-bottom: 0px;
}

.metilda-audio-analysis-image {
  border: 1px solid black;
  width: 653px;
}

.metilda-audio-analysis-input {
  text-align: left;
}

.metilda-checkbox-label {
  margin-right: 16px;
}

.metilda-audio-analysis-image-col-1,
.metilda-audio-analysis-image-col-11,
.metilda-audio-analysis-image-col-2 {
  border: 1px solid black;
  height: 32px;
}

.metilda-audio-analysis-image-col-1 {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
}

.metilda-audio-analysis-image-col-11 {
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgray;
}

.metilda-audio-analysis-image-col-2 {
  width: 77.5%;
}

.metilda-control-container {
  display: flex;
  align-items: center;
  width: 725px;
}

.metilda-target-pitch-bar {
  margin-bottom: 4px;
}

.metilda-audio-analysis-image-col-2.metilda-audio-analysis-letter-container {
  display: flex;
}

.metilda-transcribe-letter {
  position: relative;
  background: lightblue;
  outline: 1px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metilda-transcribe-letter.selected {
  background: lightyellow !important;
}

.metilda-transcribe-letter.seperator {
  background: lightpink !important;
}

.metilda-audio-analysis-image-loading,
.metilda-audio-analysis-image-default {
  width: 653px;
  height: 303px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 6px;
}

.metilda-audio-analysis-image-loading .preloader-wrapper.big {
  width: 160px;
  height: 160px;
}

.metilda-audio-analysis-pitch-art {
  margin-left: 48px;
}

.m-r-16 {
  margin-right: 8px;
}

.no-border {
  border: none !important;
}

.vert-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

#metilda-audio-function-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

#metilda-audio-function-btns button {
}

// Create page
#metilda-pitch-art-btn-container {
  display: flex;
  //justify-content: flex-start;
  justify-content: center;
  margin-bottom: 10px;
}

.page-create-save-collections-form {
  display: flex;
  flex-direction: row;
}

#collections-dropdown {
  width: 50%;
}

.UploadFile {
  position: fixed;
  top: 85px;
  right: 40px;
}

.SharePage {
  position: fixed;
  right: 40px;
  width: 200px;
  margin-top: 50px;
  //padding: 20px;
}

.StopShare {
  position: fixed;
  right: 40px;
  width: 200px;
  margin-top: 50px;
}
// Target Pitch Bar and Button elements below

.TargetPitchBar {
}

.TargetPitchBarElements {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.btn-group-analysis-controls {
  width: 100%;
  white-space: nowrap;
}

.btn-group-file-controls {
  width: 100%;
  white-space: nowrap;
}

.btn {
  text-transform: none;
}

.btn-group-analysis-controls .btn {
  width: 35%;
  margin: 4px;
}

.btn-group-file-controls .btn {
  width: 35%;
  margin: 4px;
}

#metilda-drop-down-back-button .audioBackButton {
  position: relative;
  left: 15px;
  top: 78px;
  width: 40px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  background-color: #26a69a;
  border: none;
  color: black;
  border-radius: 5px;
  z-index: 1;
  letter-spacing: 0.5px;
  display: block;
}

#metilda-drop-down-back-button .audioBackButtonDisabled {
  position: relative;
  left: 15px;
  top: 78px;
  width: 40px;
  font-size: 14px;
  text-align: center;
  cursor: not-allowed;
  height: 40px;
  background-color: #c7c7c7;
  border: none;
  color: black;
  border-radius: 5px;
  z-index: 1;
  letter-spacing: 0.5px;
  display: block;
}

#button-drop-down-image-side-by-side {
  display: flex;
  flex-direction: row;
}
