.wizard-form {
    margin-left: 16px;
}

.gender-selection {
    text-align: left;
}

/**
 * Override materializecss styling.
 */
.dropdown-content {
    max-height: 500px;
}

.metilda-select-dropdown {
    width: 100%;
}