.created-date {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: small;
  color: black;
}

.collections-select-create .collections-create {
  display: flex-box;
}

.collections-dropdown .collections-create-name {
  width: 10%;
  padding-bottom: 5px;
}
