.created-date {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: small;
  color: black;
}

.collections-create {
  //display: inline-flex;
  flex-direction: row;
  justify-content: left;
}

.collections-create-describe {
  flex: 1;
  text-align: left;
}

.collections-create-name {
  flex: 1;
}

.collections-create-submit {
  flex: 1;
}
