.metilda-breadcrumb-list {
    margin-left: 8px;
    text-align: left;
}

.metilda-breadcrumb-list-item {
    font-size: 1.64rem;
    list-style: none;
    display: inline;
    margin-right: 16px;
}

.metilda-syllable-pitch-art {

}

.pitch-art-btn-container {
    display: flex;
    justify-content: flex-end;
}

.metilda-btn {
    margin-top: 16px;
    margin-left: 16px;
}

#metilda-word-list {
    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}