.metilda-breadcrumb-list {
    margin-left: 8px;
    text-align: left;
}

.metilda-breadcrumb-list-item {
    font-size: 32px;
    list-style: none;
    display: inline;
    margin-right: 16px;
}

#metilda-syllable-view {
    margin-left: 32px;
}

.metilda-syllable-pitch-art {
    margin-left: 48px;
}

.pitch-art-btn-container {
    display: flex;
    justify-content: flex-end;
}

.metilda-btn {
    margin-top: 16px;
    margin-left: 16px;
}