.nav {
  display: flex;
  background: #4a148c;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-menu-item {
  color: white;
  padding: 0px 15px 0 15px;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  transition: background 0.3s ease-in-out;
  
  &:hover {
    background-color: white;
    color: #4a148c;
  }
}

.nav-menu-item a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.nav-menu-item.active a {
  font-weight: bold;
  border-bottom: 3px solid #0073e6;
  color: white;
}

.nav-user-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.nav-submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: unset;
  background-color: white;
  width: 180px;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-menu-item:hover .nav-submenu {
  display: flex;
}

.nav-submenu-item {
  color: #4a148c;
  padding: 10px;
  transition: background 0.3s;
  
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}

.nav-submenu-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.course_name {
  font-size: large;
    width: 25%;
    text-align: center;
    color: antiquewhite;
}